<?xml version="1.0" encoding="UTF-8"?>
<robot name="robot">
  <joint name="idx01_body_joint1" type="prismatic">
    <origin xyz="0. 0. 0.6485" rpy="0. 0. 0."/>
    <parent link="genie"/>
    <child link="genie_body_link1"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="0." upper="0.55" effort="100." velocity="0.1"/>
  </joint>
  <joint name="idx02_body_joint2" type="revolute">
    <origin xyz="0.131 0. 0. " rpy="-1.5707964 0. 0. "/>
    <parent link="genie_body_link1"/>
    <child link="genie_body_link2"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="0." upper="1.5707963" effort="100." velocity="0.5"/>
  </joint>
  <joint name="idx11_head_joint1" type="revolute">
    <origin xyz="0. -0.441 0. " rpy="1.5707963 0. 0. "/>
    <parent link="genie_body_link2"/>
    <child link="genie_head_link1"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-1.5707963" upper="1.5707963" effort="50." velocity="0.9999999"/>
  </joint>
  <joint name="idx12_head_joint2" type="revolute">
    <origin xyz="0.050238 0. 0.060065" rpy="-1.5707963 0. 0. "/>
    <parent link="genie_head_link1"/>
    <child link="genie_head_link2"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-0.3490658" upper="0.5235988" effort="50." velocity="0.9999999"/>
  </joint>
  <joint name="idx20_arm_base_joint" type="fixed">
    <origin xyz="0. -0.305 0. " rpy="1.5707963 0. 0. "/>
    <parent link="genie_body_link2"/>
    <child link="arm_base_link"/>
  </joint>
  <joint name="idx20_arm_l_base_joint" type="fixed">
    <origin xyz="0. 0.025 0. " rpy="-1.5707963 0. 0. "/>
    <parent link="arm_base_link"/>
    <child link="genie_arm_l_base_link"/>
  </joint>
  <joint name="idx21_arm_l_joint1" type="revolute">
    <origin xyz="0. 0. 0.1859" rpy="-0.0000002 0. 0. "/>
    <parent link="genie_arm_l_base_link"/>
    <child link="genie_arm_l_link1"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-3.1399998" upper="3.1399998" effort="60." velocity="3.1399998"/>
  </joint>
  <joint name="idx22_arm_l_joint2" type="revolute">
    <origin xyz="0. 0. -0." rpy="-1.5707964 0. 1.5707964"/>
    <parent link="genie_arm_l_link1"/>
    <child link="genie_arm_l_link2"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-2.0899998" upper="2.0899998" effort="60." velocity="3.1399998"/>
  </joint>
  <joint name="idx23_arm_l_joint3" type="revolute">
    <origin xyz="-0.0000001 -0.305 0. " rpy="1.5707964 1.5707964 0. "/>
    <parent link="genie_arm_l_link2"/>
    <child link="genie_arm_l_link3"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-3.0999997" upper="3.0999997" effort="60." velocity="3.9249998"/>
  </joint>
  <joint name="idx24_arm_l_joint4" type="revolute">
    <origin xyz="0. 0. 0." rpy="-1.5707959 0. -3.1415925"/>
    <parent link="genie_arm_l_link3"/>
    <child link="genie_arm_l_link4"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-1.7499999" upper="1.4299999" effort="60." velocity="3.9249998"/>
  </joint>
  <joint name="idx25_arm_l_joint5" type="revolute">
    <origin xyz="0. -0.1975 0.0000001" rpy="-1.5707959 0. 3.1415925"/>
    <parent link="genie_arm_l_link4"/>
    <child link="genie_arm_l_link5"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-3.0999997" upper="3.0999997" effort="30." velocity="3.9249998"/>
  </joint>
  <joint name="idx26_arm_l_joint6" type="revolute">
    <origin xyz="0. -0. -0." rpy="-1.570797 0. 0. "/>
    <parent link="genie_arm_l_link5"/>
    <child link="genie_arm_l_link6"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-1.7399999" upper="1.7399999" effort="30." velocity="3.9249998"/>
  </joint>
  <joint name="idx27_arm_l_joint7" type="revolute">
    <origin xyz="0. -0.1805 -0.0000001" rpy="1.5707968 0. 0. "/>
    <parent link="genie_arm_l_link6"/>
    <child link="arm_l_end_link"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-3.0999997" upper="3.0999997" effort="30." velocity="3.9249998"/>
  </joint>
  <joint name="idx31_gripper_l_inner_joint1" type="revolute">
    <origin xyz="-0.0565 -0.0195 -0. " rpy="3.1284454 0.0000004 3.1415925"/>
    <parent link="gripper_l_base_link"/>
    <child link="gripper_l_inner_link1"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-0.7853982" upper="0." effort="10." velocity="9.9999995"/>
  </joint>
  <joint name="idx32_gripper_l_inner_joint3" type="revolute">
    <origin xyz="0.030852 -0.018551 -0. " rpy="3.1415925 -0.0000002 0.0000005"/>
    <parent link="gripper_l_inner_link1"/>
    <child link="gripper_l_inner_link3"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-1.9999999" upper="1.9999999" effort="10." velocity="9.9999995"/>
  </joint>
  <joint name="idx33_gripper_l_inner_joint4" type="revolute">
    <origin xyz="0.018118 -0.01574 -0. " rpy="0. -0. 0.0000007"/>
    <parent link="gripper_l_inner_link3"/>
    <child link="gripper_l_inner_link4"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-1.9999999" upper="1.9999999" effort="10." velocity="9.9999995"/>
  </joint>
  <joint name="idx41_gripper_l_outer_joint1" type="revolute">
    <origin xyz="-0.0565 0.0195 -0. " rpy="3.1284454 0.0000004 3.1415925"/>
    <parent link="gripper_l_base_link"/>
    <child link="gripper_l_outer_link1"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="0." upper="0.7853982" effort="10." velocity="9.9999995"/>
  </joint>
  <joint name="idx42_gripper_l_outer_joint3" type="revolute">
    <origin xyz="0.030852 0.018551 -0. " rpy="3.1415925 -0.0000002 0.0000005"/>
    <parent link="gripper_l_outer_link1"/>
    <child link="gripper_l_outer_link3"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-1.9999999" upper="1.9999999" effort="10." velocity="9.9999995"/>
  </joint>
  <joint name="idx43_gripper_l_outer_joint4" type="revolute">
    <origin xyz="0.018118 0.01574 0. " rpy="0. -0. 0.0000007"/>
    <parent link="gripper_l_outer_link3"/>
    <child link="gripper_l_outer_link4"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-1.9999999" upper="1.9999999" effort="10." velocity="9.9999995"/>
  </joint>
  <joint name="idx51_ee_l_joint" type="fixed">
    <origin xyz="-0. 0. 0." rpy="3.1415925 1.5707958 -1.5707964"/>
    <parent link="arm_l_end_link"/>
    <child link="gripper_l_base_link"/>
  </joint>
  <joint name="idx52_gripper_l_center_joint" type="fixed">
    <origin xyz="-0.14308 0. -0.0000001" rpy="1.5707967 -0.0000002 -1.5707965"/>
    <parent link="gripper_l_base_link"/>
    <child link="gripper_l_center_link"/>
  </joint>
  <joint name="idx60_arm_r_base_joint" type="fixed">
    <origin xyz="0. -0.025 -0. " rpy="-1.5707964 0. -3.1415925"/>
    <parent link="arm_base_link"/>
    <child link="genie_arm_r_base_link"/>
  </joint>
  <joint name="idx61_arm_r_joint1" type="revolute">
    <origin xyz="0. 0. 0.188" rpy="0. 0. 0."/>
    <parent link="genie_arm_r_base_link"/>
    <child link="genie_arm_r_link1"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-3.1399998" upper="3.1399998" effort="60." velocity="3.1399998"/>
  </joint>
  <joint name="idx62_arm_r_joint2" type="revolute">
    <origin xyz="0. 0. -0." rpy="-1.5707964 0. -1.5707964"/>
    <parent link="genie_arm_r_link1"/>
    <child link="genie_arm_r_link2"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-2.0899998" upper="2.0899998" effort="60." velocity="3.1399998"/>
  </joint>
  <joint name="idx63_arm_r_joint3" type="revolute">
    <origin xyz="0. -0.305 -0. " rpy="-1.6754674 -1.570796 -3.0369215"/>
    <parent link="genie_arm_r_link2"/>
    <child link="genie_arm_r_link3"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-3.0999997" upper="3.0999997" effort="60." velocity="3.9249998"/>
  </joint>
  <joint name="idx64_arm_r_joint4" type="revolute">
    <origin xyz="-0. 0. -0.0000002" rpy="-1.5707964 -0. 3.1415925"/>
    <parent link="genie_arm_r_link3"/>
    <child link="genie_arm_r_link4"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-1.4299999" upper="1.7499999" effort="60." velocity="3.9249998"/>
  </joint>
  <joint name="idx65_arm_r_joint5" type="revolute">
    <origin xyz="0.0000877 -0.1974999 0.0001863" rpy="-1.5698532 0.0009053 -3.1411479"/>
    <parent link="genie_arm_r_link4"/>
    <child link="genie_arm_r_link5"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-3.0999997" upper="3.0999997" effort="30." velocity="3.9249998"/>
  </joint>
  <joint name="idx66_arm_r_joint6" type="revolute">
    <origin xyz="0.0000879 0.0001862 -0.0000003" rpy="-1.5717394 0.0004441 -0.0009057"/>
    <parent link="genie_arm_r_link5"/>
    <child link="genie_arm_r_link6"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-1.7399999" upper="1.7399999" effort="30." velocity="3.9249998"/>
  </joint>
  <joint name="idx67_arm_r_joint7" type="revolute">
    <origin xyz="0. -0.1805 -0. " rpy="1.5707964 0. 0. "/>
    <parent link="genie_arm_r_link6"/>
    <child link="arm_r_end_link"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-3.0999997" upper="3.0999997" effort="30." velocity="3.9249998"/>
  </joint>
  <joint name="idx71_gripper_r_inner_joint1" type="revolute">
    <origin xyz="-0.0565 -0.0195 -0. " rpy="3.1284454 0.0000002 -3.1415925"/>
    <parent link="gripper_r_base_link"/>
    <child link="gripper_r_inner_link1"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-0.7853982" upper="0." effort="10." velocity="9.9999995"/>
  </joint>
  <joint name="idx72_gripper_r_inner_joint3" type="revolute">
    <origin xyz="0.030852 -0.018551 0. " rpy="3.1415925 0.0000002 0.0000001"/>
    <parent link="gripper_r_inner_link1"/>
    <child link="gripper_r_inner_link3"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-1.9999999" upper="1.9999999" effort="10." velocity="9.9999995"/>
  </joint>
  <joint name="idx73_gripper_r_inner_joint4" type="revolute">
    <origin xyz="0.018118 -0.01574 -0. " rpy="-0. 0. -0.0000007"/>
    <parent link="gripper_r_inner_link3"/>
    <child link="gripper_r_inner_link4"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-1.9999999" upper="1.9999999" effort="10." velocity="9.9999995"/>
  </joint>
  <joint name="idx81_gripper_r_outer_joint1" type="revolute">
    <origin xyz="-0.0565 0.0195 -0. " rpy="3.1284454 0.0000002 -3.1415925"/>
    <parent link="gripper_r_base_link"/>
    <child link="gripper_r_outer_link1"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="0." upper="0.7853982" effort="10." velocity="9.9999995"/>
  </joint>
  <joint name="idx82_gripper_r_outer_joint3" type="revolute">
    <origin xyz="0.030852 0.018551 -0. " rpy="3.1415925 0.0000002 0.0000001"/>
    <parent link="gripper_r_outer_link1"/>
    <child link="gripper_r_outer_link3"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-1.9999999" upper="1.9999999" effort="10." velocity="9.9999995"/>
  </joint>
  <joint name="idx83_gripper_r_outer_joint4" type="revolute">
    <origin xyz="0.018118 0.01574 0. " rpy="-0. 0. -0.0000007"/>
    <parent link="gripper_r_outer_link3"/>
    <child link="gripper_r_outer_link4"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-1.9999999" upper="1.9999999" effort="10." velocity="9.9999995"/>
  </joint>
  <joint name="idx91_ee_r_joint" type="fixed">
    <origin xyz="-0. -0. -0.0000001" rpy="1.5707964 1.5707964 0. "/>
    <parent link="arm_r_end_link"/>
    <child link="gripper_r_base_link"/>
  </joint>
  <joint name="idx92_gripper_r_center_joint" type="fixed">
    <origin xyz="-0.14308 -0. -0. " rpy="1.5707965 -0.0000001 -1.5707961"/>
    <parent link="gripper_r_base_link"/>
    <child link="gripper_r_center_link"/>
  </joint>
  <link name="arm_base_link"/>
  <link name="arm_l_end_link">
    <inertial>
      <origin xyz="-0.0000751 -0.0002452 -0.016705 " rpy="0. 0. 0."/>
      <mass value="0.06158"/>
      <inertia ixx="0.0000184" ixy="0." ixz="-0." iyy="0.0000182" iyz="0.0000001" izz="0.0000285"/>
    </inertial>
    <visual>
      <origin xyz="-0. 0. 0." rpy="-0.0000005 0. 0. "/>
      <geometry>
        <mesh filename="meshes/arm_l_link7_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.0000455 -0.0023005 -0.0225 " rpy="-3.141592 0. -3.1415925"/>
      <geometry>
        <cylinder radius="0.0307999" length="0.046"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0000455 -0.0023005 -0.0225 " rpy="-3.141592 0. -3.1415925"/>
      <geometry>
        <cylinder radius="0.0307999" length="0.046"/>
      </geometry>
    </collision>
  </link>
  <link name="arm_r_end_link">
    <inertial>
      <origin xyz="-0.0000751 -0.0002452 -0.016705 " rpy="0. 0. 0."/>
      <mass value="0.06158"/>
      <inertia ixx="0.0000184" ixy="0." ixz="-0." iyy="0.0000182" iyz="0.0000001" izz="0.0000285"/>
    </inertial>
    <visual>
      <origin xyz="-0. -0. -0.0000001" rpy="-0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/arm_r_link7_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.0000455 -0.0023005 -0.0225001" rpy="-3.1415925 0. -3.1415925"/>
      <geometry>
        <cylinder radius="0.0307999" length="0.046"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0000455 -0.0023005 -0.0225001" rpy="-3.1415925 0. -3.1415925"/>
      <geometry>
        <cylinder radius="0.0307999" length="0.046"/>
      </geometry>
    </collision>
  </link>
  <link name="genie">
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/genie_base_link_visuals_base_link_base_link.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.1091309 0. 0.8117188" rpy="0. 0. 0."/>
      <geometry>
        <box size="0.2983398 0.3376392 1. "/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0.15" rpy="0. 0. 0."/>
      <geometry>
        <box size="0.5996094 0.449 0.3027344"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.1091309 0. 0.8117188" rpy="0. 0. 0."/>
      <geometry>
        <box size="0.2983398 0.3376392 1. "/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0. 0. 0.15" rpy="0. 0. 0."/>
      <geometry>
        <box size="0.5996094 0.449 0.3027344"/>
      </geometry>
    </collision>
  </link>
  <link name="genie_arm_l_base_link">
    <inertial>
      <origin xyz="-0.0002064 0.0005749 0.032296 " rpy="0. 0. 0."/>
      <mass value="0.37595"/>
      <inertia ixx="0.0002433" ixy="0.0000012" ixz="-0.0000024" iyy="0.0002404" iyz="0.0000067" izz="0.000322"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. -0." rpy="-0.0000002 0. 0. "/>
      <geometry>
        <mesh filename="meshes/genie_arm_l_base_link_visuals_arm_l_base_link_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.0017106 0.0013721 0.028225 " rpy="-0.0000002 0. 0. "/>
      <geometry>
        <cylinder radius="0.0542692" length="0.09135"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0017106 0.0013721 0.028225 " rpy="-0.0000002 0. 0. "/>
      <geometry>
        <cylinder radius="0.0542692" length="0.09135"/>
      </geometry>
    </collision>
  </link>
  <link name="genie_arm_l_link1">
    <inertial>
      <origin xyz="-0.0012655 -0.0004378 -0.018388 " rpy="0. 0. 0."/>
      <mass value="0.4936"/>
      <inertia ixx="0.000754" ixy="0.0000067" ixz="0.0000061" iyy="0.0006575" iyz="0.0000012" izz="0.0003185"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. -0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/genie_arm_l_link1_visuals_arm_l_link1_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0026814 0.0006134 -0.0407113" rpy="0. 0. -1.256637"/>
      <geometry>
        <cylinder radius="0.0557927" length="0.1664206"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0026814 0.0006134 -0.0407113" rpy="0. 0. -1.256637"/>
      <geometry>
        <cylinder radius="0.0557927" length="0.1664206"/>
      </geometry>
    </collision>
  </link>
  <link name="genie_arm_l_link2">
    <inertial>
      <origin xyz="0.000053 -0.078258 0.0047084" rpy="0. 0. 0."/>
      <mass value="0.46245"/>
      <inertia ixx="0.0006572" ixy="0.0000004" ixz="-0.0000037" iyy="0.0004346" iyz="-0.0000252" izz="0.0007257"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. -0.0000002"/>
      <geometry>
        <mesh filename="meshes/genie_arm_l_link2_visuals_arm_l_link2_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0. -0.0440621 0.0009766" rpy="1.5707964 0. -0.0000002"/>
      <geometry>
        <cylinder radius="0.0630242" length="0.1808592"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. -0.0440621 0.0009766" rpy="1.5707964 0. -0.0000002"/>
      <geometry>
        <cylinder radius="0.0630242" length="0.1808592"/>
      </geometry>
    </collision>
  </link>
  <link name="genie_arm_l_link3">
    <inertial>
      <origin xyz="-0.0012032 0.0008714 -0.055265 " rpy="0. 0. 0."/>
      <mass value="0.50026"/>
      <inertia ixx="0.0013016" ixy="0.0000031" ixz="0.0000143" iyy="0.001427" iyz="0.0000244" izz="0.0003359"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="-0.0000004 0. 0. "/>
      <geometry>
        <mesh filename="meshes/genie_arm_l_link3_visuals_arm_l_link3_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.0027451 0.000636 -0.0722394" rpy="-3.1415923 0.0000002 2.5132742"/>
      <geometry>
        <cylinder radius="0.0542326" length="0.2206989"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0027451 0.000636 -0.0722394" rpy="-3.1415923 0.0000002 2.5132742"/>
      <geometry>
        <cylinder radius="0.0542326" length="0.2206989"/>
      </geometry>
    </collision>
  </link>
  <link name="genie_arm_l_link4">
    <inertial>
      <origin xyz="0.000037 -0.06248 0.0025377" rpy="0. 0. 0."/>
      <mass value="0.27473"/>
      <inertia ixx="0.0002928" ixy="0.0000005" ixz="0.0000001" iyy="0.0001885" iyz="-0.0000011" izz="0.0003124"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="-0.0000004 0. 0. "/>
      <geometry>
        <mesh filename="meshes/genie_arm_l_link4_visuals_arm_l_link4_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. -0.038179 -0.0043945" rpy="1.5707959 0. 0. "/>
      <geometry>
        <cylinder radius="0.0578917" length="0.1549554"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. -0.038179 -0.0043945" rpy="1.5707959 0. 0. "/>
      <geometry>
        <cylinder radius="0.0578917" length="0.1549554"/>
      </geometry>
    </collision>
  </link>
  <link name="genie_arm_l_link5">
    <inertial>
      <origin xyz="-0.0000008 -0.0002309 -0.024143 " rpy="0. 0. 0."/>
      <mass value="0.25139"/>
      <inertia ixx="0.0002352" ixy="-0." ixz="-0." iyy="0.0002881" iyz="-0.0000121" izz="0.0001307"/>
    </inertial>
    <visual>
      <origin xyz="0. -0. -0." rpy="-0.0000006 0. 0. "/>
      <geometry>
        <mesh filename="meshes/genie_arm_l_link5_visuals_arm_l_link5_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0001316 -0.0000584 -0.0333058" rpy="-0.0000005 -0.0000003 -0.6283184"/>
      <geometry>
        <cylinder radius="0.0456146" length="0.134524"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0001316 -0.0000584 -0.0333058" rpy="-0.0000005 -0.0000003 -0.6283184"/>
      <geometry>
        <cylinder radius="0.0456146" length="0.134524"/>
      </geometry>
    </collision>
  </link>
  <link name="genie_arm_l_link6">
    <inertial>
      <origin xyz="0.0000018 -0.086692 0.0025571" rpy="0. 0. 0."/>
      <mass value="0.26634"/>
      <inertia ixx="0.0003143" ixy="-0." ixz="0.0000001" iyy="0.0001446" iyz="-0.0000203" izz="0.0003245"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0.0000005 0. 0. "/>
      <geometry>
        <mesh filename="meshes/genie_arm_l_link6_visuals_arm_l_link6_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0002549 -0.0554777 -0.0019395" rpy="0.0000008 -1.4805421 -1.5677644"/>
      <geometry>
        <cylinder radius="0.0485074" length="0.18166"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0002549 -0.0554777 -0.0019395" rpy="0.0000008 -1.4805421 -1.5677644"/>
      <geometry>
        <cylinder radius="0.0485074" length="0.18166"/>
      </geometry>
    </collision>
  </link>
  <link name="genie_arm_r_base_link">
    <inertial>
      <origin xyz="0.0002064 -0.0005749 0.034396 " rpy="0. 0. 0."/>
      <mass value="0.37595"/>
      <inertia ixx="0.0002433" ixy="0.0000012" ixz="0.0000024" iyy="0.0002404" iyz="-0.0000067" izz="0.000322"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/genie_arm_r_base_link_visuals_arm_r_base_link_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0011635 -0.0020492 0.030325 " rpy="0. 0. 0."/>
      <geometry>
        <cylinder radius="0.0544722" length="0.09135"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0011635 -0.0020492 0.030325 " rpy="0. 0. 0."/>
      <geometry>
        <cylinder radius="0.0544722" length="0.09135"/>
      </geometry>
    </collision>
  </link>
  <link name="genie_arm_r_link1">
    <inertial>
      <origin xyz="0.0012679 -0.0001581 -0.018109 " rpy="0. 0. 0."/>
      <mass value="0.4936"/>
      <inertia ixx="0.000754" ixy="-0.0000024" ixz="-0.0000018" iyy="0.0006605" iyz="0.0000012" izz="0.0003155"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. -0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/genie_arm_r_link1_visuals_arm_r_link1_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0001872 -0.0020049 -0.0407119" rpy="3.1415925 0. 1.2566371"/>
      <geometry>
        <cylinder radius="0.054839" length="0.1664272"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0001872 -0.0020049 -0.0407119" rpy="3.1415925 0. 1.2566371"/>
      <geometry>
        <cylinder radius="0.054839" length="0.1664272"/>
      </geometry>
    </collision>
  </link>
  <link name="genie_arm_r_link2">
    <inertial>
      <origin xyz="-0.0004421 -0.082298 0.0001949" rpy="0. 0. 0."/>
      <mass value="0.41662"/>
      <inertia ixx="0.0005459" ixy="0.0000047" ixz="0.0000025" iyy="0.0003951" iyz="-0.0000206" izz="0.0005779"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. -0.0000004 0. "/>
      <geometry>
        <mesh filename="meshes/genie_arm_r_link2_visuals_arm_r_link2_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. -0.0440621 0.0009766" rpy="1.5707964 -0.0000004 0. "/>
      <geometry>
        <cylinder radius="0.0630242" length="0.1808592"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. -0.0440621 0.0009766" rpy="1.5707964 -0.0000004 0. "/>
      <geometry>
        <cylinder radius="0.0630242" length="0.1808592"/>
      </geometry>
    </collision>
  </link>
  <link name="genie_arm_r_link3">
    <inertial>
      <origin xyz="0.0010558 0.0000444 -0.056128 " rpy="0. 0. 0."/>
      <mass value="0.49413"/>
      <inertia ixx="0.0013405" ixy="-0.0000007" ixz="-0.0000134" iyy="0.00142" iyz="0.0000285" izz="0.000376"/>
    </inertial>
    <visual>
      <origin xyz="-0. 0. -0.0000002" rpy="0. 0. -0.0000003"/>
      <geometry>
        <mesh filename="meshes/genie_arm_r_link3_visuals_arm_r_link3_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.000656 -0.0000226 -0.0721932" rpy="0. 0. -0.0000003"/>
      <geometry>
        <cylinder radius="0.0521616" length="0.220614"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.000656 -0.0000226 -0.0721932" rpy="0. 0. -0.0000003"/>
      <geometry>
        <cylinder radius="0.0521616" length="0.220614"/>
      </geometry>
    </collision>
  </link>
  <link name="genie_arm_r_link4">
    <inertial>
      <origin xyz="0.0000242 -0.06248 0.002536 " rpy="0. 0. 0."/>
      <mass value="0.27473"/>
      <inertia ixx="0.0002928" ixy="0.0000005" ixz="0.0000001" iyy="0.0001885" iyz="-0.0000011" izz="0.0003124"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="-0.0009431 -0.0009053 0.0004449"/>
      <geometry>
        <mesh filename="meshes/genie_arm_r_link4_visuals_arm_r_link4_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0000209 -0.0381831 -0.0043585" rpy="1.5698532 -0.0009053 0.0004449"/>
      <geometry>
        <cylinder radius="0.0578917" length="0.1549554"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0000209 -0.0381831 -0.0043585" rpy="1.5698532 -0.0009053 0.0004449"/>
      <geometry>
        <cylinder radius="0.0578917" length="0.1549554"/>
      </geometry>
    </collision>
  </link>
  <link name="genie_arm_r_link5">
    <inertial>
      <origin xyz="0.0000026 -0.0002304 -0.024141 " rpy="0. 0. 0."/>
      <mass value="0.25139"/>
      <inertia ixx="0.0002352" ixy="-0." ixz="-0." iyy="0.0002881" iyz="-0.0000121" izz="0.0001307"/>
    </inertial>
    <visual>
      <origin xyz="0.0000879 0.0001862 -0.0000003" rpy="-0.0009431 0.0004441 -0.0009057"/>
      <geometry>
        <mesh filename="meshes/genie_arm_r_link5_visuals_arm_r_link5_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.0001496 0.0001126 -0.0334496" rpy="-0.0009431 0.0004441 -0.0009057"/>
      <geometry>
        <cylinder radius="0.0456203" length="0.1342381"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0001496 0.0001126 -0.0334496" rpy="-0.0009431 0.0004441 -0.0009057"/>
      <geometry>
        <cylinder radius="0.0456203" length="0.1342381"/>
      </geometry>
    </collision>
  </link>
  <link name="genie_arm_r_link6">
    <inertial>
      <origin xyz="0.000005 -0.086696 0.002556" rpy="0. 0. 0."/>
      <mass value="0.26634"/>
      <inertia ixx="0.0003143" ixy="-0." ixz="0.0000001" iyy="0.0001446" iyz="-0.0000203" izz="0.0003245"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/genie_arm_r_link6_visuals_arm_r_link6_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.0000178 -0.055076 -0.0017447" rpy="-0.0000003 -1.4835106 -1.5689744"/>
      <geometry>
        <cylinder radius="0.0485715" length="0.1827249"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0000178 -0.055076 -0.0017447" rpy="-0.0000003 -1.4835106 -1.5689744"/>
      <geometry>
        <cylinder radius="0.0485715" length="0.1827249"/>
      </geometry>
    </collision>
  </link>
  <link name="genie_body_link1">
    <inertial>
      <origin xyz="0.0338352 -0.0024804 0.0008384" rpy="0. 0. 0."/>
      <mass value="3.2627544"/>
      <inertia ixx="0.0128302" ixy="0.0000082" ixz="0.0000138" iyy="0.0061041" iyz="-0.000008" izz="0.0111721"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/genie_body_link1_visuals_body_link1_body_link1.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.1027832 0.1039782 -0.0136719" rpy="0. 0. 0."/>
      <geometry>
        <box size="0.1606445 0.0555553 0.1328125"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.1018066 -0.1098776 0. " rpy="0. 0. 0."/>
      <geometry>
        <box size="0.1625977 0.0437565 0.1601562"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.1027832 0.1039782 -0.0136719" rpy="0. 0. 0."/>
      <geometry>
        <box size="0.1606445 0.0555553 0.1328125"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.1018066 -0.1098776 0. " rpy="0. 0. 0."/>
      <geometry>
        <box size="0.1625977 0.0437565 0.1601562"/>
      </geometry>
    </collision>
  </link>
  <link name="genie_body_link2">
    <inertial>
      <origin xyz="0.1937336 -0.0004842 -0.0012401" rpy="0. 0. 0."/>
      <mass value="7.531992"/>
      <inertia ixx="0.0165467" ixy="0.0002744" ixz="0.0010276" iyy="0.0445441" iyz="-0.0002369" izz="0.0402036"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. -0. -1.5707964"/>
      <geometry>
        <mesh filename="meshes/genie_body_link2_visuals_body_link2_body_link2.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0068359 -0.0003436 0. " rpy="-0. 0. 0."/>
      <geometry>
        <cylinder radius="0.0966232" length="0.0869706"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.008 -0.248 0. " rpy="0. -0. -1.5708"/>
      <geometry>
        <box size="0.3457031 0.1810772 0.3125 "/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0068359 -0.0003436 0. " rpy="-0. 0. 0."/>
      <geometry>
        <cylinder radius="0.0966232" length="0.0869706"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.008 -0.248 0. " rpy="0. -0. -1.5708"/>
      <geometry>
        <box size="0.3457031 0.1810772 0.3125 "/>
      </geometry>
    </collision>
  </link>
  <link name="genie_head_link1">
    <inertial>
      <origin xyz="0.0446068 0.0024175 0.0528374" rpy="0. 0. 0."/>
      <mass value="0.4143429"/>
      <inertia ixx="0.0001587" ixy="-0.000001" ixz="-0.0000066" iyy="0.0001177" iyz="-0.0000027" izz="0.0001709"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/genie_head_link1_visuals_head_link1_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="genie_head_link2">
    <inertial>
      <origin xyz="0.0257009 0.0316254 -0.0000377" rpy="0. 0. 0."/>
      <mass value="0.707064"/>
      <inertia ixx="0.0020541" ixy="0.0003477" ixz="-0.0000021" iyy="0.0020036" iyz="0.0000001" izz="0.00185"/>
    </inertial>
    <visual>
      <origin xyz="-0. -0. 0." rpy="3.1415923 0. 0. "/>
      <geometry>
        <mesh filename="meshes/genie_head_link2_visuals_head_link2_head_link2.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.011501 -0.02526 0.0008537" rpy="-0.0000002 0. 0. "/>
      <geometry>
        <sphere radius="0.1125707"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.011501 -0.02526 0.0008537" rpy="-0.0000002 0. 0. "/>
      <geometry>
        <sphere radius="0.1125707"/>
      </geometry>
    </collision>
  </link>
  <link name="gripper_l_base_link">
    <inertial>
      <origin xyz="-0.0001336 0.0000153 0.03322 " rpy="0. 0. 0."/>
      <mass value="0.23588"/>
      <inertia ixx="0.0000815" ixy="-0." ixz="-0.0000002" iyy="0.0000569" iyz="0.0000001" izz="0.0000716"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="-1.1644979 -1.5707959 2.7352848"/>
      <geometry>
        <mesh filename="meshes/gripper_l_base_link_visuals_gripper_base_link_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="-1.1644979 -1.5707959 2.7352848"/>
      <geometry>
        <mesh filename="meshes/gripper_l_base_link_collisions_gripper_base_link_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="-1.1644979 -1.5707959 2.7352848"/>
      <geometry>
        <mesh filename="meshes/gripper_l_base_link_collisions_gripper_base_link_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="gripper_l_center_link"/>
  <link name="gripper_l_inner_link1">
    <inertial>
      <origin xyz="0.0094685 0.0068806 0.0000654" rpy="0. 0. 0."/>
      <mass value="0.025428"/>
      <inertia ixx="0.000002" ixy="-0.0000004" ixz="-0." iyy="0.0000024" iyz="-0." izz="0.0000016"/>
    </inertial>
    <visual>
      <origin xyz="-0. 0. -0." rpy="1.5707871 -0.0000002 0.0000005"/>
      <geometry>
        <mesh filename="meshes/gripper_l_inner_link1_visuals_inner_link1_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0. 0. -0." rpy="1.5707871 -0.0000002 0.0000005"/>
      <geometry>
        <mesh filename="meshes/gripper_l_inner_link1_collisions_inner_link1_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. 0. -0." rpy="1.5707871 -0.0000002 0.0000005"/>
      <geometry>
        <mesh filename="meshes/gripper_l_inner_link1_collisions_inner_link1_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="gripper_l_inner_link3">
    <inertial>
      <origin xyz="0.0088027 -0.007035 0.0000164" rpy="0. 0. 0."/>
      <mass value="0.0040132"/>
      <inertia ixx="0.0000001" ixy="0.0000001" ixz="0." iyy="0.0000001" iyz="-0." izz="0.0000002"/>
    </inertial>
    <visual>
      <origin xyz="-0.0000001 -0. -0. " rpy="1.5707872 -0. 0.0000007"/>
      <geometry>
        <mesh filename="meshes/gripper_l_inner_link3_visuals_inner_link3_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.0000001 -0. -0. " rpy="1.5707872 -0. 0.0000007"/>
      <geometry>
        <mesh filename="meshes/gripper_l_inner_link3_collisions_inner_link3_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0000001 -0. -0. " rpy="1.5707872 -0. 0.0000007"/>
      <geometry>
        <mesh filename="meshes/gripper_l_inner_link3_collisions_inner_link3_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="gripper_l_inner_link4">
    <inertial>
      <origin xyz="0.012508 -0.0079729 0.0000943" rpy="0. 0. 0."/>
      <mass value="0.018029"/>
      <inertia ixx="0.0000011" ixy="0.0000006" ixz="-0." iyy="0.0000026" iyz="0." izz="0.0000023"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="1.5707872 0. 0. "/>
      <geometry>
        <mesh filename="meshes/gripper_l_inner_link4_visuals_inner_link4_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="1.5707872 0. 0. "/>
      <geometry>
        <mesh filename="meshes/gripper_l_inner_link4_collisions_inner_link4_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="1.5707872 0. 0. "/>
      <geometry>
        <mesh filename="meshes/gripper_l_inner_link4_collisions_inner_link4_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="gripper_l_outer_link1">
    <inertial>
      <origin xyz="0.0095051 -0.0068479 0.0000683" rpy="0. 0. 0."/>
      <mass value="0.025428"/>
      <inertia ixx="0.000002" ixy="0.0000004" ixz="0." iyy="0.0000024" iyz="-0." izz="0.0000016"/>
    </inertial>
    <visual>
      <origin xyz="-0. -0. -0." rpy="1.5707871 -0.0000002 0.0000005"/>
      <geometry>
        <mesh filename="meshes/gripper_l_outer_link1_visuals_outer_link1_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0. -0. -0." rpy="1.5707871 -0.0000002 0.0000005"/>
      <geometry>
        <mesh filename="meshes/gripper_l_outer_link1_collisions_outer_link1_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. -0. -0." rpy="1.5707871 -0.0000002 0.0000005"/>
      <geometry>
        <mesh filename="meshes/gripper_l_outer_link1_collisions_outer_link1_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="gripper_l_outer_link3">
    <inertial>
      <origin xyz="0.0088027 0.007035 -0.0000164" rpy="0. 0. 0."/>
      <mass value="0.0040132"/>
      <inertia ixx="0.0000001" ixy="-0.0000001" ixz="-0." iyy="0.0000001" iyz="-0." izz="0.0000002"/>
    </inertial>
    <visual>
      <origin xyz="-0. 0. 0." rpy="1.5707872 -0. 0.0000007"/>
      <geometry>
        <mesh filename="meshes/gripper_l_outer_link3_visuals_outer_link3_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0. 0. 0." rpy="1.5707872 -0. 0.0000007"/>
      <geometry>
        <mesh filename="meshes/gripper_l_outer_link3_collisions_outer_link3_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. 0. 0." rpy="1.5707872 -0. 0.0000007"/>
      <geometry>
        <mesh filename="meshes/gripper_l_outer_link3_collisions_outer_link3_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="gripper_l_outer_link4">
    <inertial>
      <origin xyz="0.016206 0.0094593 0.0000477" rpy="0. 0. 0."/>
      <mass value="0.035835"/>
      <inertia ixx="0.0000085" ixy="-0.0000011" ixz="-0." iyy="0.0000112" iyz="-0." izz="0.0000046"/>
    </inertial>
    <visual>
      <origin xyz="-0. -0. -0." rpy="1.5707872 0. 0. "/>
      <geometry>
        <mesh filename="meshes/gripper_l_outer_link4_visuals_outer_link4_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0. -0. -0." rpy="1.5707872 0. 0. "/>
      <geometry>
        <mesh filename="meshes/gripper_l_outer_link4_collisions_outer_link4_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. -0. -0." rpy="1.5707872 0. 0. "/>
      <geometry>
        <mesh filename="meshes/gripper_l_outer_link4_collisions_outer_link4_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="gripper_r_base_link">
    <inertial>
      <origin xyz="-0.0001336 0.0000153 0.03322 " rpy="0. 0. 0."/>
      <mass value="0.23588"/>
      <inertia ixx="0.0000815" ixy="-0." ixz="-0.0000002" iyy="0.0000569" iyz="0.0000001" izz="0.0000716"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="-0.9278121 -1.5707961 2.4985995"/>
      <geometry>
        <mesh filename="meshes/gripper_r_base_link_visuals_gripper_base_link_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="-0.9278121 -1.5707961 2.4985995"/>
      <geometry>
        <mesh filename="meshes/gripper_r_base_link_collisions_gripper_base_link_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="-0.9278121 -1.5707961 2.4985995"/>
      <geometry>
        <mesh filename="meshes/gripper_r_base_link_collisions_gripper_base_link_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="gripper_r_center_link"/>
  <link name="gripper_r_inner_link1">
    <inertial>
      <origin xyz="0.0094685 0.0068806 0.0000654" rpy="0. 0. 0."/>
      <mass value="0.025428"/>
      <inertia ixx="0.000002" ixy="-0.0000004" ixz="-0." iyy="0.0000024" iyz="-0." izz="0.0000016"/>
    </inertial>
    <visual>
      <origin xyz="-0. 0. 0." rpy="1.5707871 0.0000002 0.0000001"/>
      <geometry>
        <mesh filename="meshes/gripper_r_inner_link1_visuals_inner_link1_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0. 0. 0." rpy="1.5707871 0.0000002 0.0000001"/>
      <geometry>
        <mesh filename="meshes/gripper_r_inner_link1_collisions_inner_link1_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. 0. 0." rpy="1.5707871 0.0000002 0.0000001"/>
      <geometry>
        <mesh filename="meshes/gripper_r_inner_link1_collisions_inner_link1_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="gripper_r_inner_link3">
    <inertial>
      <origin xyz="0.0088027 -0.007035 0.0000164" rpy="0. 0. 0."/>
      <mass value="0.0040132"/>
      <inertia ixx="0.0000001" ixy="0.0000001" ixz="0." iyy="0.0000001" iyz="-0." izz="0.0000002"/>
    </inertial>
    <visual>
      <origin xyz="-0. -0. -0." rpy="1.5707872 0. -0.0000007"/>
      <geometry>
        <mesh filename="meshes/gripper_r_inner_link3_visuals_inner_link3_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0. -0. -0." rpy="1.5707872 0. -0.0000007"/>
      <geometry>
        <mesh filename="meshes/gripper_r_inner_link3_collisions_inner_link3_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. -0. -0." rpy="1.5707872 0. -0.0000007"/>
      <geometry>
        <mesh filename="meshes/gripper_r_inner_link3_collisions_inner_link3_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="gripper_r_inner_link4">
    <inertial>
      <origin xyz="0.012508 -0.0079729 0.0000943" rpy="0. 0. 0."/>
      <mass value="0.018029"/>
      <inertia ixx="0.0000011" ixy="0.0000006" ixz="-0." iyy="0.0000026" iyz="0." izz="0.0000023"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="1.5707872 0. 0. "/>
      <geometry>
        <mesh filename="meshes/gripper_r_inner_link4_visuals_inner_link4_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="1.5707872 0. 0. "/>
      <geometry>
        <mesh filename="meshes/gripper_r_inner_link4_collisions_inner_link4_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="1.5707872 0. 0. "/>
      <geometry>
        <mesh filename="meshes/gripper_r_inner_link4_collisions_inner_link4_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="gripper_r_outer_link1">
    <inertial>
      <origin xyz="0.0095051 -0.0068479 0.0000683" rpy="0. 0. 0."/>
      <mass value="0.025428"/>
      <inertia ixx="0.000002" ixy="0.0000004" ixz="0." iyy="0.0000024" iyz="-0." izz="0.0000016"/>
    </inertial>
    <visual>
      <origin xyz="-0. -0. -0." rpy="1.5707871 0.0000002 0.0000001"/>
      <geometry>
        <mesh filename="meshes/gripper_r_outer_link1_visuals_outer_link1_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0. -0. -0." rpy="1.5707871 0.0000002 0.0000001"/>
      <geometry>
        <mesh filename="meshes/gripper_r_outer_link1_collisions_outer_link1_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. -0. -0." rpy="1.5707871 0.0000002 0.0000001"/>
      <geometry>
        <mesh filename="meshes/gripper_r_outer_link1_collisions_outer_link1_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="gripper_r_outer_link3">
    <inertial>
      <origin xyz="0.0088027 0.007035 -0.0000164" rpy="0. 0. 0."/>
      <mass value="0.0040132"/>
      <inertia ixx="0.0000001" ixy="-0.0000001" ixz="-0." iyy="0.0000001" iyz="-0." izz="0.0000002"/>
    </inertial>
    <visual>
      <origin xyz="0. -0. 0." rpy="1.5707872 0. -0.0000007"/>
      <geometry>
        <mesh filename="meshes/gripper_r_outer_link3_visuals_outer_link3_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. -0. 0." rpy="1.5707872 0. -0.0000007"/>
      <geometry>
        <mesh filename="meshes/gripper_r_outer_link3_collisions_outer_link3_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. -0. 0." rpy="1.5707872 0. -0.0000007"/>
      <geometry>
        <mesh filename="meshes/gripper_r_outer_link3_collisions_outer_link3_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="gripper_r_outer_link4">
    <inertial>
      <origin xyz="0.016206 0.0094593 0.0000477" rpy="0. 0. 0."/>
      <mass value="0.035835"/>
      <inertia ixx="0.0000085" ixy="-0.0000011" ixz="-0." iyy="0.0000112" iyz="-0." izz="0.0000046"/>
    </inertial>
    <visual>
      <origin xyz="-0. -0. -0." rpy="1.5707872 0. 0. "/>
      <geometry>
        <mesh filename="meshes/gripper_r_outer_link4_visuals_outer_link4_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0. -0. -0." rpy="1.5707872 0. 0. "/>
      <geometry>
        <mesh filename="meshes/gripper_r_outer_link4_collisions_outer_link4_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. -0. -0." rpy="1.5707872 0. 0. "/>
      <geometry>
        <mesh filename="meshes/gripper_r_outer_link4_collisions_outer_link4_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
</robot>
